*{
  font-family: 'Kanit', sans-serif;
}
body{
  background-color: #D7D7D7
}
.question {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color:  rgba(230, 110, 122, 0.82);
    border: none;
    cursor: pointer;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
    
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;}


    .page {
      
      width: 50%;
      height: 100vh;
      overflow: scroll;
      overflow: hidden;
      background-color:  rgba(230, 125, 136, 0.82);
      
  }
  
  .quizPage__wrapper {
      width: 100%;
      
      
      
  }
  
.container{
  display: flex;
  justify-content:center;
  align-items: center;
 
}

.quizPage{
  border-radius: 35px;
  
  
}

